<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlquilerCanchaServlet</servlet-name>
        <servlet-class>servlet.AlquilerCanchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromocionEventoDeportivoServlet</servlet-name>
        <servlet-class>servlet.PromocionEventoDeportivoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarClienteServlet</servlet-name>
        <servlet-class>servlet.RegistrarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DuenoServlet</servlet-name>
        <servlet-class>servlet.DuenoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DuenoServlet</servlet-name>
        <url-pattern>/Dueno</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlbumServlet</servlet-name>
        <servlet-class>servlet.AlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlbumServlet</servlet-name>
        <url-pattern>/AlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LocalServlet</servlet-name>
        <servlet-class>servlet.LocalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LocalServlet</servlet-name>
        <url-pattern>/Local</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CanchaServlet</servlet-name>
        <servlet-class>servlet.CanchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CanchaServlet</servlet-name>
        <url-pattern>/Cancha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlquilerCanchaServlet</servlet-name>
        <url-pattern>/AlquilerCanchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromocionEventoDeportivoServlet</servlet-name>
        <url-pattern>/PromocionEventoDeportivoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarClienteServlet</servlet-name>
        <url-pattern>/RegistrarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConsultarCanchaServlet</servlet-name>
        <servlet-class>servlet.ConsultarCanchaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultarCanchaServlet</servlet-name>
        <url-pattern>/ConsultarCanchaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EventoDeportivoServlet</servlet-name>
        <servlet-class>servlet.EventoDeportivoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventoDeportivoServlet</servlet-name>
        <url-pattern>/EventoDeportivoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
